/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  /* linear gradient */
  --grd-clr-1: hsl(237, 73%, 79%);
  --grd-clr-2: hsl(238, 63%, 64%);
  /* # NEUTRAL # */
  --blue-50: hsl(240, 78%, 98%);
  --gray-650: hsl(233, 13%, 49%);
  --gray-700: hsl(232, 13%, 33%);
  /* # TYPOGRAPHY # */
  --ff-montserrat: "Montserrat", sans-serif;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

a.btn {
  text-decoration: none;
  display: inline-block;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

.btn {
  background: linear-gradient(to right, var(--grd-clr-1), var(--grd-clr-2));
  color: #fff;
  width: 100%;
  padding: 0.8rem 1.8rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.4rem;
  letter-spacing: 3px;
}

/* ### GENERAL STYLING ### */

body {
  background-color: #f5f5fc;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-700);
  color: var(--gray-650);
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top -35px right -192px;
}

main {
  padding-block: 4rem;
}

/* ### CARDS CONTAINER ### */

h1 {
  font-size: 1.8rem;
  text-align: center;
}

.billing-cycle {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  color: #b3b3bf;
}

.cards-container {
  margin-top: 5rem;
  width: 85%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.card {
  padding: 2.2rem 1.8rem;
  border-radius: 0.6rem;
  box-shadow: 0px 15px 15px rgba(171, 147, 171, 0.274);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  font-size: 0.9rem;
  max-width: 348px;
  width: 100%;
  flex-shrink: 1;
}

.card h2 {
  font-size: 1.3rem;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--gray-700);
}

.professional-card .price-container {
  color: #fff;
}

.price-container > * {
  flex-shrink: 0;
}

.price-number {
  font-size: 4.5rem;
}

.dollar-sign {
  font-size: 2.5rem;
}

.card ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-block: 1px solid #e3e3e3;
  text-align: center;
}

.card ul > * + * {
  border-top: 1px solid #e3e3e3;
}

.card li {
  padding-block: 1rem;
}

.professional-card .card ul {
  border-block: 1px solid #9a9ff4;
}

.professional-card .card ul > * + * {
  border-top: 1px solid #9a9ff4;
}

.professional-card {
  background: linear-gradient(to bottom, var(--grd-clr-1), var(--grd-clr-2));
  color: #fff;
}

.professional-card .btn {
  background: #fff;
  color: var(--grd-clr-2);
}

/* ### TOGGLE SWITCH ### */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, var(--grd-clr-1), var(--grd-clr-2));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 65em) {
  body {
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-position: top right, bottom left;
    height: 100vh;
  }

  .cards-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .professional-card {
    padding-block: 3rem;
  }

  .card:nth-child(n) {
    margin-block: 2rem;
  }
}
