/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  /* linear gradient */
  --grd-clr-1: hsl(237, 73%, 79%);
  --grd-clr-2: hsl(238, 63%, 64%);
  /* # NEUTRAL # */
  --blue-50: hsl(240, 78%, 98%);
  --gray-650: hsl(233, 13%, 49%);
  --gray-700: hsl(232, 13%, 33%);
  /* # TYPOGRAPHY # */
  --ff-montserrat: "Montserrat", sans-serif;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

a.btn {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* ### GENERAL STYLING ### */

body {
  background-color: #f5f5fc;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-700);
  color: var(--gray-650);
}
